[submodule "hugo/themes/terminal"]
	path = hugo/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal
[submodule "hugo/smerc-dev-blog/themes/congo"]
	path = hugo/smerc-dev-blog/themes/congo
	url = https://github.com/jpanther/congo.git
	branch = stable
